body {
	margin: 0;
	overflow-x: hidden;
}
/* ANCHOR FORMATING */
a {
	color: #000;
	text-decoration: none !important;
	cursor: pointer;
}

h4 a {
	color: #000;
}
/* LISTS FORMATING */
ul {
	list-style: none;
}

/* TABLE FORMATING */
table {
	min-width: 80%;
    max-width: 80%;
}

td {
	text-align: start;
	vertical-align: super;
	padding: 0 0.3rem;
	font-weight: 200;
	font-size: large;
}

td:nth-child(2) {
	text-align: end;
}

td p {
	text-align: left;
	text-wrap: wrap;
}

/* FORM ELEMENTS */
form >* ul li {
	display: flex;
}

label {
	min-width: 100%;
}

input[type='radio'] { 
	transform: scale(1.4); 
	margin: 0.4rem;
}
/* MATERIAL SYMBOLS FORMATING */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* BACKGROUNDS */
.dark-background {
	background: #000;
	color: #fff;
}

/* FONT SIZES */
.small-text {
	font-size: smaller;
}

.dotted {
	text-decoration: underline;
	text-decoration-style: dotted;
}

/* CHECKOUT FORMATING */
.checkout-button {
	min-width: 100%;
}

.median-table {
	min-width: 100%;
}

.d-sm-flex button {
	margin: 0.11rem;
	min-width: 100px;
	text-align: left;
}

/* BUTTON COLOR */
.btn-dark a {
	color: #fff;
} 

@media only screen and (min-width: 1024px) {
    /* LANDING SECTION */
	.add-top-padding {
		padding-top: 7rem;
	}

	table {
		min-width: 90%;
	}

	li {
		padding: 1rem 0rem;
	}

	.services {
		padding-left: 2rem;
	}

	.form-check {
		min-width: 300px;
		padding: 1.2rem;
	}

	.d-sm-flex {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.d-sm-flex button {
		margin: 0.1 0.2rem;
		min-width: 120px;
		text-align: left;
	}

	.col .d-sm-flex {
		justify-content: flex-start;
		gap: 0.8rem;
	}
	.col .d-sm-flex button {
		height: 50px;
	}
}



